
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@using MVC02.Models
@model Account

@section Main{
    <section class="col-5">
        <form action="/Account/Add" method="post" enctype="multipart/form-data">

            @Html.LabelFor(m => m.usrFullName)
            @Html.TextBoxFor(m => m.usrFullName, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrFullName)<br />

            @Html.LabelFor(m => m.usrBirthDay)
            @Html.TextBoxFor(m => m.usrBirthDay, new { @type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrBirthDay)<br />

            @Html.LabelFor(m => m.usrEmail)
            @Html.TextBoxFor(m => m.usrEmail, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrEmail)<br />

            @Html.LabelFor(m => m.usrPassword)
            @Html.TextBoxFor(m => m.usrPassword, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrPassword)<br />

            @Html.LabelFor(m => m.usrImg)
            @Html.TextBox("usrpic", null, new { @type = "file", @class = "form-control" })<br />

            <button type="submit" class="form-control">Add</button>

        </form>
    </section>
}

