
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MVC02.Models.Account

@{ var Cord = new DBEntities().Accounts.ToList(); }

@section Main{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.LabelFor(m => m.usrID)</th>
                <th scope="col">@Html.LabelFor(m => m.usrImg)</th>
                <th scope="col">@Html.LabelFor(m => m.usrFullName)</th>
                <th scope="col">@Html.LabelFor(m => m.usrEmail)</th>
                <th scope="col">@Html.LabelFor(m => m.usrBirthDay)</th>
                <th scope="col">@Html.LabelFor(m => m.usrRegistered)</th>
                <th scope="col">@Html.LabelFor(m => m.usrActive)</th>
                <th scope="col">@Html.LabelFor(m => m.usrRole)</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Account item in Cord) {
                <tr>
                    <th scope="row">@item.usrID</th>
                    <th scope="row"><img style="height:30px" src="/@item.usrImg" /></th>
                    <th scope="row">@item.usrFullName</th>
                    <th scope="row">@item.usrEmail</th>
                    <th scope="row">@item.usrBirthDay</th>
                    <th scope="row">@item.usrRegistered</th>
                    <th scope="row">@item.usrActive</th>
                    <th scope="row">@item.usrRole</th>
                    <th scope="row">
                        <button type="button" class="btn btn-primary m-1 upmodal" data-toggle="modal" data-target="#modalUp" data-userid="@item.usrID" data-fullname="@item.usrFullName" data-email="@item.usrEmail" data-pwd="@item.usrPassword" data-birthday='@item.usrBirthDay.ToString("yyyy-MM-dd")' data-regdate='@item.usrRegistered.ToString("yyyy-MM-dd")' data-uimg="@item.usrImg" data-active="@item.usrActive" data-role="@item.usrRole">Update</button>
                        <button type="button" class="btn btn-danger m-1 remmodal" data-toggle="modal" data-target="#modalRem" data-userid="@item.usrID" data-fullname="@item.usrFullName">Remove</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}

@section Source{
    <script src="~/js/jquery/jQuery3-3-1.js"></script>
    <script>
        var tempid = 1;
        $(document).ready(function () {

            //Update
            $(".upmodal").click(function () {
                tempid = Number($(this).data("userid"));
                $(".umodalusrid").val($(this).data("userid"));
                $(".umodalusrname").val($(this).data("fullname"));
                $(".uemail").val($(this).data("email"));
                $(".upwd").val($(this).data("pwd"));
                $(".ubirthday").val($(this).data("birthday"));
                $(".uimg").text($(this).data("img"));
                if ($(this).data('active') == true) $(".uactive").toggle;
                $(".urole").val($(this).data("role"));
            });

            $(".ActionForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Account/Edit",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (isdone) {
                        if (isdone == "True") {
                            alert("Update Complete");
                            window.location.replace("/Account/Index");
                        } else {
                            alert("Error on Update.");
                        }
                    },
                    error: function () {
                        alert("Connection Problem!");
                    }
                });
            });

            //Etc
            $(".showpass").click(function () {
                if ($(".upwd").attr("type") == "text") {
                    $(".upwd").attr("type", "password");
                    $(this).text("Hide");
                }
                else {
                    $(".upwd").attr("type", "text");
                    $(this).text("Show");
                }
            });

            //Remove
            $(".remmodal").click(function () {
                tempid = Number($(this).data("userid"));
                $("span#jusername").text($(this).data("fullname"));
            });

            $(".btndeactivate").click(function () {
                $.ajax({
                    url: "/Account/Remove",
                    type: "POST",
                    data: { tempid: tempid },
                    success: function (isdone) {
                        if (isdone == "True") {
                            window.location.reload();
                        } else {
                            alert("Error on Deactivation.");
                        }
                    },
                    error: function () {
                        alert("Connection Problem!");
                    }
                })
            });
        });
    </script>
}

@section Footer{
    <section class="modal" id="modalUp" tabindex="-1" role="dialog" aria-labelledby="modalUpLabel" aria-hidden="true">
        <section class="modal-dialog" role="document">
            <section class="modal-content">
                <section class="modal-header">
                    <h5 class="modal-title" id="modalUpLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </section>
                <form name="ActionForm" class="ActionForm" enctype="multipart/form-data">
                    <section class="modal-body">
                        ID: <input name="usrID" type="text" class="form-control w-50 disabled umodalusrid" />
                        Full Name: <input name="usrFullName" type="text" class="form-control w-50 umodalusrname" />
                        Email: <input name="usrEmail" type="email" class="form-control w-50 uemail" />
                        Password:<br /><input name="usrPassword" type="password" class="form-control w-50 float-left upwd" />&nbsp;<button type="button" class="form-control float-left w-25 showpass">Show</button><span class="clearfix"></span>
                        Birthday: <input name="usrBirthDay" type="date" class="form-control w-50 ubirthday" />
                        Image: <input name="usrImg" type="file" class="form-control w-50 uimg" />
                        is Active?: <input name="usrActive" type="checkbox" class="form-check uactive" />
                        Role: <input name="usrRole" type="number" class="form-control w-50 urole" min="1" max="3" />
                    </section>
                    <section class="modal-footer">
                        <button type="submit" class="btn btn-danger">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </section>
                </form>
            </section>
        </section>
    </section>

    <section class="modal" id="modalRem" tabindex="-1" role="dialog" aria-labelledby="modalRemLabel" aria-hidden="true">
        <section class="modal-dialog" role="document">
            <section class="modal-content">
                <section class="modal-header">
                    <h5 class="modal-title" id="modalRemLabel">Deactivate?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </section>
                <section class="modal-body">
                    Do you want to deactive user named <span id="jusername"></span> ?
                </section>
                <section class="modal-footer">
                    <button type="button" class="btn btn-primary btndeactivate">Deactivate</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </section>
            </section>
        </section>
    </section>
}