
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@model MVC02.Models.Account

@section Main{
    <section class="col-5">
        <form name="ActionForm" id="ActionForm" enctype="multipart/form-data">

            @Html.LabelFor(m => m.usrFullName)
            @Html.TextBoxFor(m => m.usrFullName, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrFullName)<br />

            @Html.LabelFor(m => m.usrBirthDay)
            @Html.TextBoxFor(m => m.usrBirthDay, new { @type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrBirthDay)<br />

            @Html.LabelFor(m => m.usrEmail)
            @Html.TextBoxFor(m => m.usrEmail, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrEmail)<br />

            @Html.LabelFor(m => m.usrPassword)
            @Html.TextBoxFor(m => m.usrPassword, new { @type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.usrPassword)<br />

            @Html.LabelFor(m => m.usrImg)
            @Html.TextBox("usrpic", null, new { @type = "file", @class = "form-control" })<br />

            <button type="submit" class="form-control">Add</button>

        </form>
    </section>
}
@section Source{
<script src="~/js/jquery/jQuery3-3-1.js"></script>
    <script>
        $(document).ready(function () {
            $("#ActionForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Account/Register",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (isdone) {
                        if (isdone) {
                            alert("Registiration Complete");
                            window.location.replace("/Account/Index");
                        } else { alert("Error on Registiration."); }
                    },
                    error: function () { alert("Connection Problem!"); }
                });
            });
        });
    </script>
}

