
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MVC02.Models.Article

@section Main{
    <section class="col-5">
        <form name="blogForm" id="blogForm" enctype="multipart/form-data">

            @Html.LabelFor(m => m.artTitle)
            @Html.TextBoxFor(m => m.artTitle, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artTitle)<br />

            @Html.LabelFor(m => m.artText)
            @Html.TextAreaFor(m => m.artText, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artText)<br />

            @Html.LabelFor(m => m.artImage)
            @Html.TextBox("articlepic", null, new { @type = "file", @class = "form-control" })<br />

            @Html.LabelFor(m => m.artWriter)
            @Html.TextBoxFor(m => m.artWriter, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artWriter)<br />

            @{
                var Cord = new MVC02.Models.DBEntities().Categories.ToList();
                foreach (var item in Cord) {
                    @Html.Label(item.catName, new { @class = "float-left mr-2" })
                    <input name="selectedCat" type="checkbox", value="@item.catID" class="form-check" /><br />
                }
            }

            <button type="submit" class="form-control">Add</button>

        </form>
    </section>
}

@section Source{
    <script src="~/js/jquery/jQuery3-3-1.js"></script>
    <script>
        $(document).ready(function () {
            $("#blogForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Blog/Add",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (isdone) {
                        if (isdone == "True") {
                            window.location.replace("/Blog/Index");
                        } else { alert("Problem"); }
                    },
                    error: function () { alert("Error"); }
                });
            });
        });
    </script>
}
