
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@model MVC02.Models.Article

@section Main{
    <section class="col-5">
        <form action="/Blog/Add" method="post" enctype="multipart/form-data">

            @Html.LabelFor(m => m.artTitle)
            @Html.TextBoxFor(m => m.artTitle, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artTitle)<br />

            @Html.LabelFor(m => m.artText)
            @Html.TextAreaFor(m => m.artText, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artText)<br />

            @Html.LabelFor(m => m.artImage)
            @Html.TextBox("articlepic", null, new { @type = "file", @class = "form-control" })<br />

            @Html.LabelFor(m => m.artWriter)
            @Html.TextBoxFor(m => m.artWriter, new { @type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.artWriter)<br />

            <button type="submit" class="form-control">Add</button>

        </form>
    </section>
}

