@model MVC02.Models.Account

@{
    ViewBag.Title = "Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
        <section class="col-9 float-left">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.usrFullName)</dt>
                <dd>@Html.DisplayFor(model => model.usrFullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrEmail)</dt>
                <dd>@Html.DisplayFor(model => model.usrEmail)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrPassword)</dt>
                <dd>@Html.DisplayFor(model => model.usrPassword)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrBirthDay)</dt>
                <dd>@Html.DisplayFor(model => model.usrBirthDay)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrRegistered)</dt>
                <dd>@Html.DisplayFor(model => model.usrRegistered)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrRemoved)</dt>
                <dd>@Html.DisplayFor(model => model.usrRemoved)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrImg)</dt>
                <dd>@Html.DisplayFor(model => model.usrImg)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrActive)</dt>
                <dd>@Html.DisplayFor(model => model.usrActive)</dd>

                <dt>@Html.DisplayNameFor(model => model.usrRole)</dt>
                <dd>@Html.DisplayFor(model => model.usrRole)</dd>
            </dl>
            <p>
                @Html.ActionLink("Edit", $"Account/Edit/", new { id = Model.usrID }, new { id = Model.usrID, @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Account", null, new { @class = "btn btn-default" })
            </p>
    </section>
    <section class="col-3 float-left"><img src="/@Model.usrImg" class="rounded" alt="@Model.usrFullName" /></section>
}