@model IEnumerable<MVC02.Models.Account>

@{
    ViewBag.Title = "Account Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.usrFullName)</th>
                <th>@Html.DisplayNameFor(m => m.usrEmail)</th>
                <th>@Html.DisplayNameFor(m => m.usrPassword)</th>
                <th>@Html.DisplayNameFor(m => m.usrBirthDay)</th>
                <th>@Html.DisplayNameFor(m => m.usrRegistered)</th>
                <th>@Html.DisplayNameFor(m => m.usrRemoved)</th>
                <th>@Html.DisplayNameFor(m => m.usrImg)</th>
                <th>@Html.DisplayNameFor(m => m.usrActive)</th>
                <th>@Html.DisplayNameFor(m => m.usrRole)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        @foreach (var item in Model) {
            <tr>
                <td>@item.usrFullName</td>
                <td>@item.usrEmail</td>
                <td>Hidden</td>
                <td>@item.usrBirthDay.ToString("dd/MM/yyyy")</td>
                <td>@item.usrRegistered</td>
                <td>@item.usrRemoved</td>
                <td><img src="\@item.usrImg" class="rounded" style="height:70px" /></td>
                <td>@item.usrActive</td>
                <td>@item.usrRole</td>
                <td>
                    @Html.ActionLink("Details", "Account/Details", new { id = item.usrID }) |
                    @Html.ActionLink("Edit", "Account/Edit", new { id = item.usrID }) |
                    @Html.ActionLink("Remove", "Account/Remove", new { id = item.usrID })
                </td>
            </tr>
        }

    </table>
}