@model IEnumerable<MVC02.Models.Article>

@{
    ViewBag.Title = "Article Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <p>
        @Html.ActionLink("Create New", "Article/Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(m => m.artTitle)</th>
                <th>@Html.DisplayNameFor(m => m.artText)</th>
                <th>@Html.DisplayNameFor(m => m.Account.usrFullName)</th>
                <th>@Html.DisplayNameFor(m => m.artPublishDate)</th>
                <th>@Html.DisplayNameFor(m => m.artUpdateDate)</th>
                <th>@Html.DisplayNameFor(m => m.artImage)</th>
                <th>@Html.DisplayNameFor(m => m.artActive)</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        @foreach (var item in Model) {
    <tr>
        <td>@item.artTitle</td>
        <td>"@item.artText.Substring(0, item.artText.IndexOf(".") + 1).." (more on details)</td>
        <td>@item.Account.usrFullName</td>
        <td>@item.artPublishDate</td>
        <td>@item.artUpdateDate</td>
        <td><img src="/@item.artImage" class="rounded" style="height:70px" /></td>
        <td>@item.artActive</td>
        <td>
            @Html.ActionLink("Details", "Article/Details", new { id = item.artID }) |
            @Html.ActionLink("Edit", "Article/Edit", new { id = item.artID }) |
            @Html.ActionLink("Remove", "Article/Remove", new { id = item.artID })
        </td>
    </tr>
        }

    </table>
}