@model MVC02.Models.Article

@{
    ViewBag.Title = "Deactivate Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <section class="col-9 float-left">
        <h3 class="alert alert-danger rounded">Are you sure you want to deactivate this article?</h3>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.artTitle)</dt>
            <dd>@Html.DisplayFor(m => m.artTitle)</dd>

            <dt>@Html.DisplayNameFor(m => m.artText)</dt>
            <dd>@Html.DisplayFor(m => m.artText)</dd>

            <dt>@Html.DisplayNameFor(m => m.artPublishDate)</dt>
            <dd>@Html.DisplayFor(m => m.artPublishDate)</dd>

            <dt>@Html.DisplayNameFor(m => m.artUpdateDate)</dt>
            <dd>@Html.DisplayFor(m => m.artUpdateDate)</dd>

            <dt>@Html.DisplayNameFor(m => m.artImage)</dt>
            <dd>@Html.DisplayFor(m => m.artImage)</dd>

            <dt>@Html.DisplayNameFor(m => m.artActive)</dt>
            <dd>@Html.DisplayFor(m => m.artActive)</dd>

            <dt>@Html.DisplayNameFor(m => m.Account.usrFullName)</dt>
            <dd>@Html.DisplayFor(m => m.Account.usrFullName)</dd>
        </dl>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "remForm", name = "remForm" })) {
            @Html.AntiForgeryToken()

            <section class="form-actions no-color">
                @Html.HiddenFor(m => m.artID)

                <input type="submit" value="Remove" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Article", null, new { @class = "btn btn-default" })
            </section>
        }
    </section>
    <section class="col-3 float-left"><img src="/@Model.artImage" class="rounded" alt="@Model.artTitle" /></section>
}

@section Source{
    <script>
        $(document).ready(function () {
            $("#remForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/Admin/ArtRemove",
                    method: "POST",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (isdone) {
                        if (isdone == "True") {
                            alert("Update Complete");
                            window.location.replace("/Admin/Article");
                        } else {
                            alert("Problem.");
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });
        });
    </script>
}