@model MVC02.Models.Article

@{
    ViewBag.Title = "Article Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <section class="col-9 float-left">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.artTitle)</dt>
            <dd>@Html.DisplayFor(model => model.artTitle)</dd>

            <dt>@Html.DisplayNameFor(model => model.artText)</dt>
            <dd>@Html.DisplayFor(model => model.artText)</dd>

            <dt>@Html.DisplayNameFor(model => model.artPublishDate)</dt>
            <dd>@Html.DisplayFor(model => model.artPublishDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.artUpdateDate)</dt>
            <dd>@Html.DisplayFor(model => model.artUpdateDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.artImage)</dt>
            <dd>@Html.DisplayFor(model => model.artImage)</dd>

            <dt>@Html.DisplayNameFor(model => model.artActive)</dt>
            <dd>@Html.DisplayFor(model => model.artActive)</dd>

            <dt>@Html.DisplayNameFor(model => model.Account.usrFullName)</dt>
            <dd>@Html.DisplayFor(model => model.Account.usrFullName)</dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Article/Edit", new { id = Model.artID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Back to List", "Article", null, new { @class = "btn btn-default" })
        </p>
    </section>
    <section class="col-3 float-left"><img src="/@Model.artImage" class="rounded" alt="@Model.artTitle" /></section>
}